<div class="card" id="panel">
    <div class="card-body">
      <div class="element">
        <label class="mx-auto">Login:
          <input [(ngModel)]="login" placeholder="login"/>
        </label>
      </div>
      <div class="element">
        <label class="mx-auto">Password:
          <input [(ngModel)]="password" placeholder="password"/>
        </label>
      </div>
      <div class="element">
        <button type="button" class="btn btn-primary" (click)="loginMe()" > Login Me</button>
      </div>
    </div>
  </div>